# Python
__pycache__/
*.pyc
*.py[cod]
*.env
env/
venv/
# Django
*.sqlite3
/media/
# Node
node_modules/
/dist/
/build/
/.vite/
/*.local
# Docker
*.log
docker-compose.override.yml
# VSCode, macOS, etc.
.vscode/
.DS_Store
.windsurf/
.github/
.gitignore
# Static files
staticfiles/
Operations/backend/documents/templates/nosign_out
*.sqlite3
# Environment files
.env
.env.*
!.env.example
